name: "Build"

on:
  push:
    tags:
      - 'v*'
    branches:
      - '**'

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled to have blame infos in sonar

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 24
          cache: maven

      - name: Build with Maven
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
            echo "Building with revision=${VERSION}"
            mvn clean install org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Drevision=${VERSION}
          else
            echo "Building without revision"
            mvn clean install org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 
          fi

      - name: "[tag] Synk monitor: maven"
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          curl --compressed https://static.snyk.io/cli/latest/snyk-linux -o snyk
          chmod +x ./snyk
          mv ./snyk /usr/local/bin/
          snyk monitor --all-projects --prune-repeated-subdependencies --target-reference=latest
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          PAT_USERNAME: ${{ secrets.PAT_USERNAME }}
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: |
            target/*.jar
          if-no-files-found: error
          retention-days: 1

  docker-image:
    name: Docker Image
    timeout-minutes: 20
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Create directory for jar
        run: mkdir target

      - name: Download jar
        uses: actions/download-artifact@v4
        with:
          name: jar
          path: target

      - name: Log in to the GitHub container registry
        uses: docker/login-action@v3 # NOSONAR githubactions:S7637 - verified action creator
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3 # NOSONAR githubactions:S7637 - verified action creator
      - uses: docker/setup-buildx-action@v3 # NOSONAR githubactions:S7637 - verified action creator

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5 # NOSONAR githubactions:S7637 - verified action creator
        with:
          images: "${{ env.REGISTRY }}/steadybit/mcp"

      - name: Build Docker image
        uses: docker/build-push-action@v5 # NOSONAR githubactions:S7637 - verified action creator
        with:
          context: .
          file: Dockerfile
          push: true
          load: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ github.ref_type == 'tag' && github.ref || '' }}
            REVISION=${{ github.sha }}

      - name: "Snyk monitor docker image"
        if: startsWith(github.ref, 'refs/tags/')
        uses: snyk/actions/docker@master # NOSONAR githubactions:S7637 - verified action creator
        with:
          image: "${{ env.REGISTRY }}/steadybit/mcp:${{ github.ref_name }}"
          args: --file=Dockerfile --target-reference=latest --username=${{ github.actor }} --password=${{ secrets.GITHUB_TOKEN }}
          command: monitor
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}